.main-nav-dropdown-item__second-menu-item {
    position: relative;
    padding-left: 20px;
}
.main-nav-dropdown-item__second-menu-item :before {
    position: absolute;
    content: "›";
    left: 0;
    top: -3px;
    font-size: 20px;
    color: #000000;
}
.main-nav-dropdown-item__second-menu-item a {
    font-size: 14px;
    font-weight: 100;
    color: #000000;
    display: inline-block;
}
.main-nav-dropdown-item__second-menu-item a:hover {
    border: none!important;
    color: #EF4424
}